#Files to be ignored

.idea
.DS_Store
/monopoly_simulator/__pycache__
/monopoly_simulator/background_agent_v1.py
/monopoly_simulator/background_agent_v1_deprecated.py
/monopoly_simulator/background_agent_v2.py
/monopoly_simulator/background_agent_v3.py

